
<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark3 fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{{site.baseurl}}/#page-top">
        <img src="{{site.headerLogoImage}}" class="logo"> <b>{{site.headerLogo}}</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- navbar itens -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{site.baseurl}}/{{site.navbar1Link}}">{{site.navbar1}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{site.baseurl}}/{{site.navbar2Link}}">{{site.navbar2}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{site.baseurl}}/{{site.navbar3Link}}">{{site.navbar3}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{site.baseurl}}/{{site.navbar4Link}}">{{site.navbar4}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{site.baseurl}}/{{site.navbar5Link}}">{{site.navbar5}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{site.baseurl}}/{{site.navbar6Link}}">{{site.navbar6}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary2 bg-dark3 text-white">

    <div class="container text-center">
      <h1 class="animated fadeInDown">{{page.title}}</h1>
      <p class="lead animated fadeInDown">{{page.description}}</p>
      <time>{{ page.date | date:"%b, %-d/%Y" }} </time>
    </div>
  </header>
