<!--Section: Content-->
<section class="text-center dark-grey-text wow fadeInDown" id="section3">

<div class="container">
  <!-- Section heading -->
  <h3 class="text-center font-weight-bold pb-2 mb-4">{{site.section3_title}}</h3>
  <!-- Section description -->

  <!-- Section description -->
  <p class="text-muted text-center w-responsive mx-auto mb-5">{{site.section3_description}}</p>

      <div class="row">
        <div class="col-lg-8 mx-auto wow fadeInDown">
          <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">

          <img src="{{site.section3_box1_icon}}" class="icon-block" />
          <p class="font-weight-bold my-3">{{site.section3_box1_title}}</p>
          <p class="text-muted">{{site.section3_box1_description}}</p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">

          <img src="{{site.section3_box2_icon}}" class="icon-block" />
          <p class="font-weight-bold my-3">{{site.section3_box2_title}}</p>
          <p class="text-muted">{{site.section3_box2_description}}</p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">

          <img src="{{site.section3_box3_icon}}" class="icon-block" />
          <p class="font-weight-bold my-3">{{site.section3_box3_title}}</p>
          <p class="text-muted">{{site.section3_box3_description}}</p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">

          <img src="{{site.section3_box4_icon}}" class="icon-block" />
          <p class="font-weight-bold my-3">{{site.section3_box4_title}}</p>
          <p class="text-muted">{{site.section3_box4_description}}</p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">

          <img src="{{site.section3_box5_icon}}" class="icon-block" />
          <p class="font-weight-bold my-3">{{site.section3_box5_title}}</p>
          <p class="text-muted">{{site.section3_box5_description}}</p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">

          <img src="{{site.section3_box6_icon}}" class="icon-block" />
          <p class="font-weight-bold my-3">{{site.section3_box6_title}}</p>
          <p class="text-muted">{{site.section3_box6_description}}</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
        </div>
      </div>
    </div>

</div>
  </section>
