

  <!-- Section -->
  <section class="bg-dark2" id="section4">
  <div class="container">

    <h3 class="font-weight-bold text-center white-grey-text pb-2">{{site.s4_title}}</h3>
    <hr class="w-header my-4">
    <p class="lead text-center text-muted-white pt-2 mb-5">{{site.s4_description}}</p>

    <div class="row animated fadeInDown">
      <div class="col-lg-8 mx-auto">

        <ol class="timeline">
          <li class="timeline-element">
            <h5 class="font-weight-bold white-grey-text mb-3">{{site.s4_time1_Title}}</h5>
            <p class="grey-text font-small">{{site.s4_time1_Hour}}</p>
            <p class="text-muted-white">{{site.s4_time1_Description}}</p>
          </li>

          <li class="timeline-element">
            <h5 class="font-weight-bold white-grey-text mb-3">{{site.s4_time2_Title}}</h5>
            <p class="grey-text font-small">{{site.s4_time2_Hour}}</p>
            <p class="text-muted-white">{{site.s4_time2_Description}}</p>
          </li>

          <li class="timeline-element">
            <h5 class="font-weight-bold white-grey-text mb-3">{{site.s4_time3_Title}}</h5>
            <p class="grey-text font-small">{{site.s4_time3_Hour}}</p>
            <p class="text-muted-white">{{site.s4_time3_Description}}</p>
          </li>

          <li class="timeline-element">
            <h5 class="font-weight-bold white-grey-text mb-3">{{site.s4_time4_Title}}</h5>
            <p class="grey-text font-small">{{site.s4_time4_Hour}}</p>
            <p class="text-muted-white">{{site.s4_time4_Description}}</p>
          </li>
        </ol>

      </div>
    </div>
  </div>
  </section>
  <!-- Section -->
