<div class="container my-5">

  <!--Section: Content-->
  <section class="dark-grey-text wow fadeInDown" id="section1">
    <!-- Section heading -->
    <h3 class="text-center font-weight-bold pb-2 mb-4">{{site.s1_title}}</h3>
    <!-- Section description -->
    <p class="text-muted text-center w-responsive mx-auto mb-5">{{site.s1_description}}</p>
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-4">
        <!-- Card -->
        <div class="card">
          <!-- Content -->
          <div class="card-body">
            <!-- Offer -->
            <div class="d-flex justify-content-center">
              <div class="card-circle d-flex justify-content-center align-items-center">
                <img src="{{site.s1_card1_image}}" class="icon-block" />
              </div>
            </div>
            <!--description -->
            <h3 class="mb-4 mt-2 text-center">{{site.s1_card1_title}}</h3>
            <ul style="list-style-type: circle;">
              <li class="grey-text text-left mt-1">{{site.s1_card1_list1}}</li>
              <li class="grey-text text-left mt-3">{{site.s1_card1_list2}}</li>
              <li class="grey-text text-left mt-3">{{site.s1_card1_list3}}</li>
            </ul>

          </div>
          <!-- Content -->
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4">
        <!-- Card -->
        <div class="card">
          <!-- Content -->
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <div class="card-circle d-flex justify-content-center align-items-center">
                <img src="{{site.s1_card2_image}}" class="icon-block" />
              </div>
            </div>


            <!--description -->
            <h3 class="mb-4 mt-2 text-center">{{site.s1_card2_title}}</h3>
            <ul style="list-style-type: circle;">
              <li class="grey-text text-left mt-1">{{site.s1_card2_list1}}</li>
              <li class="grey-text text-left mt-3">{{site.s1_card2_list2}}</li>
              <li class="grey-text text-left mt-3">{{site.s1_card2_list3}}</li>
            </ul>

          </div>
          <!-- Content -->

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4">

        <!-- Card -->
        <div class="card">
          <!-- Content -->
          <div class="card-body">
            <!-- Offer -->
            <div class="d-flex justify-content-center">
              <div class="card-circle d-flex justify-content-center align-items-center">
                <img src="{{site.s1_card3_image}}" class="icon-block" />
              </div>
            </div>

            <!--description -->
            <h3 class="mb-4 mt-2 text-center">{{site.s1_card3_title}}</h3>
            <ul style="list-style-type: circle;">
              <li class="grey-text text-left mt-1">{{site.s1_card3_list1}} </li>
              <li class="grey-text text-left mt-3">{{site.s1_card3_list2}} </li>
              <li class="grey-text text-left mt-3">{{site.s1_card3_list3}} </li>
            </ul>

          </div>
          <!-- Content -->

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>
