
<!-- services -->
  <section id="section2" class="bg-dark2">
    <!--Carousel Wrapper-->
    <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First slide-->
      <div class="carousel-item active">
        <!-- Full Page Intro -->
              <div class="container">
                <!-- Mask & flexbox options-->
                <div class="mask rgba-gradient align-items-center">
                  <!-- Content -->
                  <div class="container">
                    <!--Grid row-->
                    <div class="row">
                      <!--Grid column-->
                      <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5" data-wow-delay="0.3s">
                        <h1 class="h1-responsive font-weight-bold mt-sm-5">{{site.s2_slide1_title}}</h1>
                        <hr class="hr-light">
                        <h6 class="mb-4 line-height">{{site.s2_slide1_description}}</h6>
                      </div>
                      <!--Grid column-->
                      <!--Grid column-->
                      <div class="col-md-6 col-xl-5 mt-xl-5" data-wow-delay="0.3s">
                        <img src="{{site.s2_slide1_photo}}" alt="" class="img-fluid">
                      </div>
                      <!--Grid column-->
                    </div>
                    <!--Grid row-->
                  </div>
                  <!-- Content -->
                </div>
                <!-- Mask & flexbox options-->
              </div>
              <!-- Full Page Intro -->
      </div>
      <!--/First slide-->
      <!--Second slide-->
      <div class="carousel-item">
        <!-- Content -->
        <div class="container">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5" data-wow-delay="0.3s">
              <h1 class="h1-responsive font-weight-bold mt-sm-5">{{site.s2_slide2_title}} </h1>
              <hr class="hr-light">
              <h6 class="mb-4 line-height">{{site.s2_slide2_description}}</h6>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 col-xl-5 mt-xl-5" data-wow-delay="0.3s">
              <img src="{{site.s2_slide2_photo}}" alt="" class="img-fluid">
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!--Second slide-->

    </div>
    <!-- Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--Controls-->
    </div>
    <!--Carousel Wrapper-->
  </section>
