<section class="dark-grey-text wow fadeInDown" id="section3">

<div class="container my-1 p-5 z-depth-1">

  <!--Section: Content-->


    <!-- Section heading -->
    <h2 class="text-center font-weight-bold mb-5">{{site.section3_title}}</h2>
    <!-- Section description
    <p class="text-center lead grey-text mx-auto mb-5">{{site.section3_description}}</p> -->

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12">

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-1">
            <img src="{{site.section3_box1_icon}}" class="icon-block" />
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-11">
            <h5 class="font-weight-bold mb-3">{{site.section3_box1_title}}</h5>
            <p class="grey-text">{{site.section3_box1_description}}</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-1">
            <img src="{{site.section3_box2_icon}}" class="icon-block" />
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-11">
            <h5 class="font-weight-bold mb-3">{{site.section3_box2_title}}</h5>
            <p class="grey-text">{{site.section3_box2_description}}</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-1">
            <img src="{{site.section3_box3_icon}}" class="icon-block" />
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-11">
            <h5 class="font-weight-bold mb-3">{{site.section3_box3_title}}</h5>
            <p class="grey-text">{{site.section3_box3_description}}</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->



        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-1">
            <img src="{{site.section3_box4_icon}}" class="icon-block" />
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-11">
            <h5 class="font-weight-bold mb-3">{{site.section3_box4_title}}</h5>
            <p class="grey-text">{{site.section3_box4_description}}</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-1">
            <img src="{{site.section3_box5_icon}}" class="icon-block" />
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-11">
            <h5 class="font-weight-bold mb-3">{{site.section3_box5_title}}</h5>
            <p class="grey-text">{{site.section3_box5_description}}</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-1">
            <img src="{{site.section3_box6_icon}}" class="icon-block" />
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-11">
            <h5 class="font-weight-bold mb-3">{{site.section3_box6_title}}</h5>
            <p class="grey-text">{{site.section3_box6_description}}</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-1">
            <img src="{{site.section3_box7_icon}}" class="icon-block" />
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-11">
            <h5 class="font-weight-bold mb-3">{{site.section3_box7_title}}</h5>
            <p class="grey-text mb-0">{{site.section3_box7_description}}</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>
