
.bg-dark3{
  background-color: #000000;
  border-bottom: 1px solid #f3d57b;
}

.bg-dark2{
  background: url(../../assets/images/background.png) rgb(0,0,0);
  background-repeat: repeat-y;
  background-position: right bottom;
  color: #fff;
}

.bg-primary2{
  background-color: #000;
  background-repeat: no-repeat;
  background-position: right;
}

.logo-header{
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
}

.logo{
  width: 50px;
  height: 50px;
}

.navbar-dark .navbar-nav .nav-link{
  color: #FFF;
}

.btn-primary{
  color: #fff;
  background-color: #b58800;
  border-color: #b58800;
}

.btn-primary:hover{
  background-color: #FFF;
  border-color: #FFF;
  color: #b58800;
}

.icon-block{
  width: 80px;
  height: 80px;
}

.card{
  border-top: 4px solid #e8ae00 !important;
}

.btn.btn-backgroundDark {
    color: #fff;
    border: 2px solid #dca500;
    background-color: #000000 !important;
}

.navbar{
  padding: 0;
}

a.nav-link{
  padding-top: 18px;
  padding-bottom: 18px;
  color: #000000;
}

a.nav-link:hover{
  background-color: #ffc107;
  color: #000000 !important;
}

.rgba-stylish-strong{
  background-color: rgb(0, 0, 0) !important;
  border-top: 1px solid #f3d57b;
}

footer.page-footer .footer-copyright{
  background-color: rgba(49, 49, 49, 0.2) !important;
}

.navbar a{
  margin-left: 10px;
}

.navbar-brand b{
  font-size: 23px;
  font-weight: bold;
  margin-left: 5px;
}

section {
    padding: 80px 0;
}

.line-height {
    line-height: 28px;
}

.text-primary2 {
    color: #020b52 !important;
}

.timeline {
  position: relative;
  list-style: none;
  padding: 1rem 0;
  margin: 0;
  color: #fff;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  margin-left: -1px;
  background-color: #f3d57b;
}

.timeline-element {
  position: relative;
  width: 50%;
  padding: 1rem 0;
  padding-right: 2.5rem;
  text-align: right;
}

.timeline-element::before {
  content: '';
  position: absolute;
  right: -8px;
  top: 1.35rem;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #f3d57b;
  background-color: #fff;
}

.timeline-element:nth-child(even)::before {
  right: auto;
  left: -8px;
}

.timeline-element:nth-child(even) {
  margin-left: 50%;
  padding-left: 2.5rem;
  padding-right: 0;
  text-align: left;
}


      @media (max-width: 767.98px) {
        .timeline::before {
          left: 8px;
        }
      }

      @media (max-width: 767.98px) {
        .timeline-element {
          width: 100%;
          text-align: left;
          padding-left: 2.5rem;
          padding-right: 0;
        }
      }

      @media (max-width: 767.98px) {
        .timeline-element::before {
          top: 1.25rem;
          left: 1px;
        }
      }

      @media (max-width: 767.98px) {
        .timeline-element:nth-child(even) {
          margin-left: 0rem;
        }
      }

      @media (max-width: 767.98px) {
        .timeline-element {
          width: 100%;
          text-align: left;
          padding-left: 2.5rem;
          padding-right: 0;
        }
      }

      @media (max-width: 767.98px) {
        .timeline-element:nth-child(even)::before {
          left: 1px;
        }
      }

      @media (max-width: 767.98px) {
        .timeline-element::before {
          top: 1.25rem;
        }
      }

      .text-muted-white{
        color: #FFFFFF;
      }
